.game_container{
  position: relative;
  cursor: default;
  -webkit-box-sizing: border-box;
  background: #edf0c7;
  width: 400px;
  height: 400px;
  float: left;
  border-radius: 6px;
}
.game_container div {
  background: #455d7a;
  opacity: 0.73;
  float: left;
  margin: 12px 0 0 12px;
  border-radius: 10px;
  height: 85px;
  width: 85px;
  vertical-align: middle;
  text-align: center;
  line-height: 85px;
  font-size: 35px;
  font-weight: bold;
}
.active{
  background: red!important;
}