.game_container{
  position: relative;
  cursor: default;
  -webkit-box-sizing: border-box;
  background: #edf0c7;
  width: 400px;
  height: 400px;
  float: left;
  border-radius: 6px;
}
.game_container div {
  background: #97cba9;
  opacity: 0.73;
  float: left;
  margin: 12px 0 0 12px;
  border-radius: 10px;
  height: 85px;
  width: 85px;
  vertical-align: middle;
  text-align: center;
  line-height: 85px;
  font-size: 35px;
  font-weight: bold;
}
.two_two_color{
  background:#f67280!important;
}
.two_three_color{
  background:#c06c84!important;
}
.two_four_color{
  background:#ea5f2d!important;
}
.two_five_color{
  background:#bb3939!important;
}
.two_six_color{
  background:#860f44!important;
}
.two_seven_color{
  background:#c86b85!important;
}
.two_eight_color{
  background:#d56073!important;
}
.two_nine_color{
  background:#6c5b7b!important;
}
.two_ten_color{
  background:#0f4471!important;
}
.last_color{
  background:#113a5d!important;
}