.game_container{
  position: relative;
  cursor: default;
  -webkit-box-sizing: border-box;
  background: #edf0c7;
  width: 400px;
  height: 400px;
  float: left;
  cursor: pointer;
  border-radius: 6px;
}
.game_container div {
  background: #97cba9;
  opacity: 0.73;
  float: left;
  margin: 12px 0 0 12px;
  border-radius: 10px;
  height: 85px;
  width: 85px;
  vertical-align: middle;
  text-align: center;
  line-height: 85px;
  font-size: 35px;
  font-weight: bold;
}

/*通用样式*/
 /*手机*/
 @media screen and (max-width:600px){
  .game_container{
    width:270px;
    height:270px;
  }
  .game_container div{
    height: 55px;
    width: 55px;
    margin: 10px 0 0 10px;
    line-height: 55px;
    font-size: 18px;
  }
  
}
/*平板*/
@media screen and (min-width:600px) and (max-width:960px){
  .game_container{
    width:350px;
    height:350px;
  }
  .game_container div{
    height: 80px;
    width: 80px;
    margin: 6px 0 0 6px;
    line-height: 80px;
    font-size: 20px;
  }
}
/*PC*/
@media screen and (min-width:960px){
  .game_container{
    width: 400px;
    height: 400px;
  }
  .game_container div{
    height: 85px;
    width: 85px;
  }
}



@keyframes fade-in {  
  0% {opacity: 0;}/*初始状态 透明度为0*/  
  40% {opacity: 0;}/*过渡状态 透明度为0*/  
  100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
  0% {opacity: 0;}  
  40% {opacity: 0;}  
  100% {opacity: 1;}  
} 
.active {
  animation: fade-in;/*动画名称*/  
  animation-duration: 0.2s;/*动画持续时间*/  
  -webkit-animation:fade-in 0.2s;/*针对webkit内核*/ 
}
.two_two_color{
  background:#f67280!important; 
}
.two_three_color{
  background:#c06c84!important;
}
.two_four_color{
  background:#ea5f2d!important;
}
.two_five_color{
  background:#bb3939!important;
}
.two_six_color{
  background:#db3b61!important;
}
.two_seven_color{
  background:#860f44!important;
}
.two_eight_color{
  background:#d56073!important;
}
.two_nine_color{
  background:#6c5b7b!important;
}
.two_ten_color{
  background:#0f4471!important;
}
.last_color{
  background:#113a5d!important;
}


